<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <!-- <nav class="mt-2" th:fragment="nav-sidebar">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-id-badge"></i>
                        <p>
                            CARGOS
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../pages/cargos/list-cargos.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Todos Cargos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../pages/cargos/list-cargo.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Adicionar Cargos</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>
                            DEPARTAMENTOS
                            <i class="right fas fa-angle-down"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../pages/departamento/list-departamento.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Todos Departamentos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../pages/departamento/add-departamento.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Adicionar Departamento</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            FUNCIONARIOS
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../pages/funcionarios/list-func.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Todos Funcionarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../pages/funcionarios/add-func.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Adicionar Funcionarios</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            FERIAS
                            <i class="fas fa-angle-down right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../pages/req-ferias/list-requisicoes.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Todas Requisições</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            FACULDADES
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../pages/faculdades/list-faculdade.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Todas Faculdades</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../pages/faculdades/add-faculdade.html" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Adicionar Faculdade</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav> -->


        <aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebr">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/dist/img/logo.jpeg" alt="UJC Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">SGF UJC</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-id-badge"></i>
                                <p>
                                    CARGOS
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../pages/cargos/list-cargos.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Cargos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../pages/cargos/list-cargo.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Cargos</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-project-diagram"></i>
                                <p>
                                    DEPARTAMENTOS
                                    <i class="right fas fa-angle-down"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../pages/departamento/list-departamento.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Departamentos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../pages/departamento/add-departamento.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Departamento</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    FUNCIONARIOS
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../pages/funcionarios/list-func.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Funcionarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../pages/funcionarios/add-func.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Funcionarios</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    FERIAS
                                    <i class="fas fa-angle-down right"></i>

                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../pages/req-ferias/list-requisicoes.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todas Requisições</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    FACULDADES
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../pages/faculdades/list-faculdade.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todas Faculdades</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../pages/faculdades/add-faculdade.html" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Faculdade</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </body>

</html>